ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 10px;
  padding: 4px;
  background-color: transparent;
  border-radius: 2px;
  animation: shrinkBox 300ms;
}

li.updateUp {
  background-color: yellowgreen;
  animation: growBox 300ms;
}

li.updateDown {
  background-color: rgb(173, 53, 53);
  animation: growBox 300ms;
}

@keyframes growBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes shrinkBox {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}
